Reference for correlation as a threat in the privacy section

RFC6973 Section 5.2.1 would be a better reference.

Ok, thanks https://datatracker.ietf.org/doc/html/rfc6973#section-5.2.1